<!-- Page Content -->
<div class="container">

  <div class="row">
    <h2>Scheduler Client</h2>
    <h4>Pre-requisites:</h4>
    <ul>
      <li>Ruby v 2.2.3</li>
      <li>Rails v 4.1.14</li>
      <li>Mysql</li>
      <li>Redis</li>
    </ul>

    <ol>
      <li>
        <h4>Steps to prepare the source code:</h4>
        <ul>
          <li>Navigate to the project directory from terminal.</li>
          <li>Issue command - 'bundle install'. This will install all rubygems in your machine.</li>
        </ul>
      </li>
      <li>
        <h4>Steps to create and initialize the database:</h4>
        <ul>
          <li>Copy the settings given in 'config/database.example.yml'</li>
          <li>Write those into a new file called 'database.yml' in the /config dir.</li>
          <li>Write suitable username and password for the Mysql DB of your machine in database.yml file.</li>
          <li>
            Run the commands -
            <ol>
              <li>rake db:create</li>
              <li>rake db:migrate</li>
              <li>rake db:seed</li>
            </ol>
          </li>
        </ul>
      </li>
      <li>
        <h4>Assumptions made:</h4>
        <p>Setting up agents</p>
        <p>We have used resque (which used redis in background) as the agent which will execute scheduled tasks. Make sure you have redis installed and running on port 6379. Assumption is made that we would be having 3 test server options (A, B, C) for executing tasks. These would be running locally in separate terminals.</p>
        <p>
          To get agents working, please run following tasks in separate terminals from within the project directory:
        </p>
        <ol>
          <li>rake resque:scheduler</li>
          <li>rake resque:work QUEUE='test_server_a'</li>
          <li>rake resque:work QUEUE='test_server_b'</li>
          <li>rake resque:work QUEUE='test_server_c'</li>
        </ol>
        <p>Now, while creating a new scheduled task, you need to select execution server from front-end. Based on the server you select, appropriate queue would be handling the execution of the task.</p>
      </li>
      <li>
        <h4>Working:</h4>
        <ul>
          <li>To get started with the application, click on the 'Executions' tab.</li>
          <li>You will get a page, where list of exceutions will be shown and a button for 'New task'. Click on the button.</li>
          <li>Create a task by filling up all details. All the fields are mandatory.</li>
          <li>Task created will have start_at and end_at fields along with set of execution days, which will determine, when the task will be executed.</li>
          <li>Once the task gets executed, you will get to see the time taken and other stats in the table.</li>
        </ul>
      </li>

    </ol>
  </div>
    <!-- /.row -->

  <hr>

    <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Scheduler Client 2016</p>
      </div>
        <!-- /.col-lg-12 -->
    </div>
      <!-- /.row -->
  </footer>

</div>
<!-- /.container -->
