<%= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@task[:name]) %>
  <%= f.input :executable_path %>
  <%= error_span(@task[:executable_path]) %>
  <%= f.input :command %>
  <%= error_span(@task[:command]) %>
  <%= f.input :start_at, as: :string %>
  <%= error_span(@task[:start_at]) %>
  <%= f.input :run_at_time, as: :string, input_html: { class: 'bootstrap-timepicker'} %>
  <%= error_span(@task[:run_at_time]) %>
  <%= f.input :end_at, as: :string %>
  <%= error_span(@task[:end_at]) %>
  <%= f.input :execution_days, as: :select, collection: execution_days_options, input_html: {name: 'task[execution_days][]', multiple: true} %>
  <%= error_span(@task[:execution_days]) %>
  <%= f.input :execution_server, as: :select, collection: available_server_options %>
  <%= error_span(@task[:execution_server]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn btn-default' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $( "input#task_start_at, input#task_end_at" ).datepicker({
      format: 'yyyy-mm-dd',
      startDate: '+0d',
      orientation: "top left"
    });
    $('#task_run_at_time').timepicker({
      minuteStep: 1,
      showMeridian: false,
      icons: {
        up: 'glyphicon glyphicon-chevron-up',
        down: 'glyphicon glyphicon-chevron-down'
      }
    });
  });
</script>
