<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table summary="task table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:executable_path) %></th>
            <th><%= model_class.human_attribute_name(:command) %></th>
            <th><%= model_class.human_attribute_name(:start_at) %></th>
            <th><%= model_class.human_attribute_name(:end_at) %></th>
            <th><%= model_class.human_attribute_name(:execution_days) %></th>
            <th><%= model_class.human_attribute_name(:execution_server) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.id, task_path(task) %></td>
              <td><%= task.name %></td>
              <td><%= task.executable_path %></td>
              <td><%= task.command %></td>
              <td><%= task.start_at %></td>
              <td><%= task.end_at %></td>
              <td><%= task.execution_days %></td>
              <td><%= task.execution_server %></td>
              <td><%=l task.created_at %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_task_path(task), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            task_path(task),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!--end of .table-responsive-->
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")), new_task_path, :class => 'btn btn-primary' %>
