<%- model_class = Execution -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table summary="task table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th><%= 'Task Executed' %></th>
            <th><%= model_class.human_attribute_name(:start_at) %></th>
            <th><%= model_class.human_attribute_name(:end_at) %></th>
            <th><%= 'Execution Time' %></th>
            <th><%= 'Status' %></th>
          </tr>
        </thead>
        <tbody>
          <% @executions.each do |execution| %>
            <tr>
              <td><%= execution.task.name %></td>
              <td><%= execution.start_at %></td>
              <td><%= execution.end_at %></td>
              <td><%= calculate_execution_time(execution) %></td>
              <td><%= execution.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!--end of .table-responsive-->
  </div>
</div>

<%= link_to t('.new', :default => 'New Task'), new_task_path, :class => 'btn btn-primary' %>
